#pageBlog .col-first {
  padding-right: 0; }
  @media (min-width: 992px) {
    #pageBlog .col-first {
      padding-right: 16px; } }

#pageBlog .empty-list {
  text-align: center;
  width: 100%; }

#pageBlog .blog-list .link {
  display: grid;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #d9dcdf;
  text-decoration: none;
  grid-template: "blog-list-image" "blog-list-text"; }
  @media (min-width: 768px) {
    #pageBlog .blog-list .link {
      grid-template: "blog-list-image blog-list-text" / 45% auto; } }
  #pageBlog .blog-list .link:focus .blog-list-title {
    text-decoration: underline; }
  #pageBlog .blog-list .link:last-child {
    border-bottom: none; }

#pageBlog .blog-list .img-responsive {
  width: 100%;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    #pageBlog .blog-list .img-responsive {
      margin-bottom: 0; } }

#pageBlog .blog-list .blog-list-image {
  grid-area: blog-list-image; }

#pageBlog .blog-list .blog-list-title {
  font-size: 1.6rem; }

#pageBlog .blog-list .blog-list-text {
  grid-area: blog-list-text;
  padding: 8px 16px; }
  #pageBlog .blog-list .blog-list-text .blog-list-title {
    margin: 0;
    color: #3297db; }
  #pageBlog .blog-list .blog-list-text .text {
    margin: 4px 0 4px 0;
    color: black; }
  #pageBlog .blog-list .blog-list-text .date {
    color: grey; }

.author {
  font-style: italic;
  font-size: 1rem;
  padding-left: 1rem; }
