/*regular*/
/*small*/
/*extra small*/
/*big*/
/*extra big*/
/* ------------------------------------------------------------------ SOCIAL */
/* ----------------------------------------------------------------------------- TRIANGLE */
/* ----------------------------------------------------------------------------- Z-INDEX */
/* ----------------------------------------------------------------------------- PSEUDO ELEMENT */
/* ----------------------------------------------------------------------------- FUNCTION */
/* ----------------------------------------------------------------------------- EXTEND */
#page_login {
  background-color: #e7e9ea;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #page_login .login-wrapper {
    background-color: #ffffff;
    border: 1px solid #d9dcdf;
    border-radius: 10px;
    padding: 40px;
    max-width: 500px;
    height: auto;
    margin: auto; }

#admin .table .menu ul {
  width: max-content; }
