#page_admin_blog .table .menu {
  white-space: nowrap; }

#page_login {
  background-color: grey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #page_login .login-wrapper {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
    max-width: 500px;
    height: auto;
    margin: auto; }

#admin .table .menu ul {
  width: max-content; }
