@media (min-width: 0) {
  #page_blog .col-first {
    padding-right: 0; } }

@media (min-width: 992px) {
  #page_blog .col-first {
    padding-right: 16px; } }

.blog-list article {
  display: grid;
  width: 100%;
  grid-template: "blog-list-image blog-list-text" / 150px auto;
  margin-bottom: 16px;
  border: 1px solid #d9dcdf; }

.blog-list .blog-list-image {
  grid-area: blog-list-image; }
  .blog-list .blog-list-image img {
    width: 150px;
    height: 150px; }

.blog-list .blog-list-text {
  grid-area: blog-list-text;
  padding: 16px; }
  .blog-list .blog-list-text .blog-list-title {
    margin: 0; }
