#pageAdminBlog .table .menu {
  white-space: nowrap; }

#pageAdminLogin {
  background-color: grey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #pageAdminLogin .login-wrapper {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
    max-width: 500px;
    height: auto;
    margin: auto; }

.table-wrapper {
  max-height: 300px;
  overflow-y: auto; }

.thumbnail-table {
  text-align: left; }

.card header {
  display: block !important; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#pageAdminBlog .table img {
  width: auto;
  height: 50px; }
