$re : 4px;
$bi : $re * 2;
$grey : grey;




#page_login{
    background-color: $grey;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-wrapper{
        background-color: white;
        border: 1px solid $grey;
        border-radius: $re;
        padding: $bi;
        max-width: 500px;
        height: auto;
        margin: auto;
    }
}

#admin{

    .table{

        .menu {

            ul{
                width: max-content;
            }
        }
    }
}