$re: 4px;
$bi: $re * 2;
$eb: $bi * 2;

$break-point-es: 0;
$break-point-sm: 576px;
$break-point-re: 768px;
$break-point-bi: 992px;
$break-point-eb: 1200px;
$break-point-fhd: 1900px;

$grey: grey;
$blue: #3297db;
#pageBlog {
  .col-first {
    padding-right: 0;

    @media (min-width: $break-point-bi) {
      padding-right: $eb;
    }
  }

  .empty-list{
    text-align: center;
    width: 100%;
  }

  .blog-list {
    .link {
      display: grid;
      width: 100%;
      margin-bottom: $eb;
      padding-bottom: $eb;
      border-bottom: 1px dotted #d9dcdf;
      text-decoration: none;
      grid-template:
        "blog-list-image"
        "blog-list-text";

      @media (min-width: $break-point-re) {
        grid-template:
          "blog-list-image blog-list-text"
          / 45% auto;
      }

      &:focus {
        .blog-list-title {
          text-decoration: underline;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .img-responsive {
      width: 100%;
      margin-bottom: $bi;

      @media (min-width: $break-point-re) {
        margin-bottom: 0;
      }
    }

    .blog-list-image {
      grid-area: blog-list-image;
    }

    .blog-list-title {
      font-size: 1.6rem;
    }

    .blog-list-text {
      grid-area: blog-list-text;
      padding: $bi $eb;

      .blog-list-title {
        margin: 0;
        color: $blue;
      }

      .text {
        margin: $re 0 $re 0;
        color: black;
      }

      .date {
        color: grey;
      }
    }
  }
}

.author {
  font-style: italic;
  font-size: 1rem;
  padding-left: 1rem;
}