html,
body{
    width: 100%;
    height: 100%;
    position: relative;
}

hr{
    border: 0;
    border-top: 1px dotted $color-grey;
}

b,
strong{
    font-family: $font-family-bold;
}

/* ------------------------------------------------------------------ SPACEMENT */

.padding-re{
    padding: $re;
}

.padding-bi{
    padding: $bi;
}

.padding-eb{
    padding: $bi * 2;
}

.padding-sm{
    padding: $sm;
}

.padding-es{
    padding: $es;
}




.margin-re{
    margin-top: $re;
}

.margin-bi{
    margin-top: $bi;
}

.margin-eb{
    margin-top: $eb;
}

.margin-sm{
    margin-top: $sm;
}

.margin-es{
    margin-top: $es;
}

/* ------------------------------------------------------------------ MOBILE */

.mobile-show{
    @media only screen and (min-width: $break-point-es) { 
        display: table !important;
    }
}

.mobile-hide{
    @media only screen and (min-width: $break-point-es) { 
        display: none !important;
    }

    @media only screen and (min-width: $break-point-bi) {
        display: block !important;
    }
}

/* ------------------------------------------------------------------ IMAGE */

.img-responsive{
    max-width: 100%;
    height: auto;
    margin: auto;
}

.img-responsive-vertical{
    max-height: 100%;
    width: auto;
    margin: auto;
}

/* ------------------------------------------------------------------ OTHER */

.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}

.scroll-off {
    pointer-events: none;
}

/* ------------------------------------------------------------------ DISPLAY */

.display-none{
    display: none !important;
}